.relative {
    position: relative;
}

#region-filter {
    padding-left: 2.5rem;
}

.absolute {
    position: absolute;
}

.left-3 {
    left: 0.75rem;
}

.top-1\/2 {
    top: 50%;
}

.transform {
    transform: translateY(-50%);
}

.h-5 {
    height: 1.25rem;
}

.w-5 {
    width: 1.25rem;
}